<p-panel header="Pipes Basicos" styleClass="m-4">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>
<div class="grid m-3">
  <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <p-card header="Ventas netas" subheader="del presente año">
      {{ totalSells + 74018 | number : "1.2-2" }}
    </p-card>
  </div>
  <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{ totalSells | currency : "USD" : "symbol-narrow" : "1.2-4" }}
    </p-card>
  </div>
  <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <p-card header="Ganacias porcentual" subheader="del presente año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>
</div>
